* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button2 {
    margin-top: -20px;
    text-align: right;
    
}

.button2 a {
    background-color: black;
    padding: 20px 40px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.general {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 2;

}
.general.active {
    display: block;
}

.container2 {
    display: flex;
    width: 100%;
    height: 100%;
}

.bodyBtn2 {
    margin: auto;
    width: 500px;
    background-image: url(img/satoru.gif);
    background-size: 500px;
    border-radius: 10px;
    text-align: center;
    padding: 100px 15px 110px 15px;
    position: relative;
}

.bodyBtn2 p {
    font-size: 28px;
    font-weight: 600;
    color: red;
    margin-bottom: 40px;
}

.closeBtn2 {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 21px;
    cursor: pointer;
}